@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
header {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 5%;
}
.logo {
    border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo span {
    font-weight: 900px;
}

nav {
    border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 25px;
}

section {
    overflow-x: hidden;
}

.promocao {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
}

.promocao .promo-titulo {
    font-weight: 700px;
    color: #161616;
    text-transform: uppercase;
}

.linha {
    width: 100%;
    height: 2px;
    background-color: #eee;
}

main {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
}
.coluna { 
    border: 2px solid red;
   
}

.produto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.produto img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}