* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav {
    width: 100%;

}

.image-bg {
    background-image: url(./img/bg_1.jpg);
    height: 724px;
    background-position: 50% 0px;
}