* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Calibri;
    font-size: 18px;
}

.barra-hr {
    background-color: #003366;
    max-width: 100%;
}

.barra-hr .barra-item {
    justify-content: center;
}

.barra-hr .barra-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.barra-item .item {
    color: #fff;
    font-size: 16px;
    padding: 10px 0px;
}

.barra-item .item * {
    color: #fff;
    font-size: 24px;
    vertical-align: middle;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chat .item.comments {
    margin: 0px 10px;
}

.chat .whatsapp .comments {
    padding: 10px 10px;
}

.chat .comments {
    padding: 10px 10px;
}

.item.whatsapp {
    background: #2ba531;
    border-radius: 30px;
    padding: 10px 10px;
    font-weight: bold;
}

.item.comments {
    background: #00b29c;
    border-radius: 30px;
    padding: 10px 10px;
    margin-top: 10px;
    font-weight: bold;
}

.item.whatsapp:hover {
    background: #239529;
    cursor: pointer;
}

.item.comments:hover {
    background: #048676;
    cursor: pointer;
}

.barra2-hr {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li {
    display: inline-block;
    list-style: none;
    font-family: 'Myriad Pro';
    font-weight: bold;
    padding: 10px 12px;
}

.menu li:hover {
    background: #003366;
    color: #fff;
    border-radius: 20px;
}

.painel img {
    width: 100%;
    background-size: cover;
}
.painel1 {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.painel1 .bemvindo {
    width: 580px;
}

.painel1 .bemvindo h1 {
    font-size: 45px;
    color: #72120B;
}

.painel1 .bemvindo .btn-mais {
    justify-content: center;
    width: 100%;
    text-align: center;
}

.painel1 .bemvindo h1::first-line {
    color: #003366;
}

.painel1 .bemvindo .linha {
    height: 4px;
    width: 100%;
    background: #eee;
    margin: 20px 0px 0px;
    position: relative;
    box-shadow: -1px -1px 2px 0px #fff inset;
}

.painel1 .bemvindo .text {
    font: 20px/25px 'calibri';
    text-shadow: 0px 0px 1px #eee;
    color: #999999;
    margin: 20px 0px;
}

.painel1 .bemvindo .btn-mais {
    padding: 18px 47px;
    background: #72120B;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    border-radius: 8px;
}

.painel1:hover .bemvindo .btn-mais {
    transform: scale(1.1);
    transition: all 0.5s;
}
